@import-normalize;

* {
	padding: 0;
	margin: 0;
	border: 0;
}
body {
	min-height: 100vh;
	height: 100%;
	background-image: linear-gradient(110deg, #170d1c, #ff5733);

	color: #f6f5ef;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

ul {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
	object-fit: cover;
}

a:focus,
a:active {
	outline: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.container {
	width: 1158px;
	margin: 0 auto;
	padding: 0 15px;
}
.back-link {
	display: block;
	margin: auto;
	left: 50px;
	width: 1158px;
	margin: 0 auto;
	padding: 0 15px;
	background-image: linear-gradient(to top, violet, pink);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-weight: 700;
	letter-spacing: 0.02em;
	font-size: 25px;
	line-height: 1.11;
	margin-bottom: 15px;
}
